Postman
Documents
Downloads
Images
.cache
.Xauthority
.bash_history
.bash_logout
.bash_profile
.electron-gyp
.gitconfig
.gnupg
.gtkrc-2.0
.icons
.local
.npmrc
.nvm
.password-store
.pki
.shell.pre-oh-my-zsh
.ssh
.viminfo
.vscode
.wget-hsts
.zcompdump-Beta-5.8
.zsh_history
.zshrc.pre-oh-my-zsh

.config/awesome
.config/Bitwarden
.config/BraveSoftware
.config/Code
.config/configstore
.config/dconf
.config/flameshot
.config/gconf
.config/GIMP
.config/gtk-2.0
.config/gtk-3.0
.config/htop
.config/i3
.config/i3blocks
.config/lxsession
.config/Mattermost
.config/mimeapps.list
.config/Notion
.config/pamac
.config/polybar
.config/Postman
.config/pulse
.config/qalculate
.config/qtile
.config/QtProject.conf
.config/rofi
.config/sgtk-menu
.config/Signal
.config/spotify
.config/terminator
.config/Thunar
.config/touchegg
.config/touchegg-gce.conf
.config/volumeicon
.config/xfce4
