127.0.0.1   localhost
::1         localhost
127.0.1.1   {{ ansible_nodename }}.localdomain {{ ansible_nodename }}

{% if system_host is defined %}
{% for key, value in system_host.items() %}
{{ key }} {{ value }}
{% endfor %}
{% endif %}
